
[% WRAPPER base.tt
	title = "Browse Tags"
%]

<div class="content">
	<p>
		[% IF outfits.size %]
			List of available outfits
			<ul>
			[% FOREACH outfit = outfits -%]
				<li><a href="[% c.uri_for('tag', outfit.id, cln(outfit.name)) %]">[% outfit.name | html %]</a></li>
			[% END %]
			</ul>
		[% ELSE %]
			There are no outfits
		[% END %]
	</p>
</div>
[% END %]
