<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>[% title %]</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<h1>[% title %]</h1>
		<div>
			<h2>Menu:
				<a href="/">Root</a>&nbsp;
				<a href="/clothes/">Clothes</a>&nbsp;
				<a href="/categories/">Categories</a>&nbsp;
				<a href="/tags/">Tags</a>
			</h2>
			<h3><span>Drilldown Menu: [</span>
				[% FOREACH bc = breadcrumb.breadcrumbs -%]
					<span>>><a href="[% bc.href %]">[% bc.name %]</a></span>
				[% END %]
				&nbsp;&nbsp;]&nbsp;<span><a href="[% breadcrumb.get_parent.href %]">Up one level</a></span>
			</h3>
		</div>
		<div>
			[% content %]
		</div>
	</body>
</html>
