
[% WRAPPER base.tt
	title = "Category: $category_name"
%]

<div class="content">
	<p>
		Clothing under the category: [% category_name %]
	</p>
	<table>
		[% FOREACH clothing IN clothes -%]
		<tr>
			<td><a href="/clothes/clothing/[% clothing.id %]/[% clothing.name %]">[% clothing.name %]</td>
		</tr>
		[% END -%]
	</table>
</div>
[% END %]
