
[% WRAPPER base.tt
	title = "Category: $category_name"
%]

<div class="content">
	<p>
		Clothing under the category: [% category_name | html %]
	</p>
	<table>
		[% FOREACH clothing IN clothes -%]
		<tr>
			<td><a href="[% c.uri_for(c.controller('Clothes').action_for('clothing'), clothing.id, clothing.name) %]">[% clothing.name | html %]</td>
		</tr>
		[% END -%]
	</table>
</div>
[% END %]
