
[% WRAPPER base.tt
	title = "Browse Categories"
%]

<div class="content">
	<p>
		This page lists the clothing categories.
		Click on a category to drill into it.
	</p>
	<table>
		[% FOREACH category IN categories -%]
		<tr>
			<td><a href="[% c.uri_for('category', category.id, cln(category.name)) %]">[% category.name | html %]</a></td>
		</tr>
		[% END -%]
	</table>
</div>
[% END %]
